scrape_info.py
gaze_direction.py
scrape_info.py
shape_predictor_68_face_landmarks.dat
/__pycache__/
*.html
testing.py
sdfsd.py
looking.py
photo_metadata.py
*.png
*.jpg
*.json
*.joblib
*.txt
*.csv
screen_cap_read.py
/meta_photos/
testing_grounds.py